<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="my-shopping-cart">
  <test name="Test">
   <classes>
      <class name="com.mycompany.app.LoginPage"/>
      <class name="com.mycompany.app.MyStore"/>
   </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->